@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700');


$onboard-primary: #000000;
$onboard-secondary: #ffffff;

$onboard-font: 'Teko', sans-serif;

$paragraph-font:  'Teko', sans-serif;
