---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import '../styles/app.scss';

interface Props {
  title?: string;
}

const { title = 'Nex Machina Game Soundtrack' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body>
    <slot />
    <Footer />
  </body>
</html>
